<!-- <br><br><br><br><br><br> -->
this.logDeviceId: {{this.logDeviceId}}
<br>
<br>
this.logDevicePlatform: {{this.logDevicePlatform}}
<br><br>
<a [routerLink]="['/test1']" routerLinkActive="router-link-active">test1</a>
<br>
<a [routerLink]="['/test2']" routerLinkActive="router-link-active">test2</a>
<router-outlet></router-outlet>
<br>

<br><br><br>
<button *ngIf="logDevicePlatform !== 'web' " (click)="onToggleOrientation()">onToggleOrientation()</button>

<br><br>
<button *ngIf="logDevicePlatform !== 'web' " (click)="onToggleZoom()">onToggleZoom()</button>

<br><br>
<button (click)="takePicture()">takePicture</button>